@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-image: url("/img/back.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu{
    text-align: center;
}
.logo{
    width: 80px;
}
.cart_items{
    position: relative;
    margin: auto;
    border: solid 2px black;
    border-radius: 50px 50px 20px 20px;
    background-color: rgb(255, 255, 255);
    width: 500px;

}
.info{
    border-bottom: 1px solid black;
    position: relative;
    width: 500px;
    height: 70px;
}
.info h1{
    position: relative;
    text-align: center;
    top: 5px;
}
.buy{
    font-family: 'Nunito';
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 470px;
    left: 100px;
    width: 300px;
    height: 30px;
    border: none;
    color: white;
    background-color: #18C4FF;
    border-radius: 10px;
    border-bottom: 3px solid black;
}
.buy:hover{
    font-size: 20px;
    color: black;
    background-color: #F2F2F2;
}
.items{
    position: relative;
    background-color: violet;
}